{% load static %}
<!DOCTYPE html>
<html lang="">
<head>

    <title>上海启銮建筑工程有限公司</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{% static 'css/chocolat.css' %}" type="text/css" media="screen"/>


    <link href='#css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
    <link href='#css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='#css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <style>
        .project_text {
            color: whitesmoke;
            padding-top: 10px;
        }

        .project_text01 {
            font-size: 20px;
            color: black;
            padding-top: 30px;
            padding-bottom: 10px;
        }

        .project_text02 {
            font-size: 15px;
            padding-top: 10px;
        }

        .project_text03 {
            font-size: 15px;
        }
    </style>

</head>
<body>
<div class="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">上海启銮建筑工程有限公司</a>
            </div>

            <div class="navbar-collapse collapse hover-effect" id="navbar">
                <ul>
                    <li><a href="#about"><span data-hover="ABOUT">关于我们</span></a></li>
                    <li><a href="#details"><span data-hover="SUCCESS">成功案例</span></a></li>
                    <li><a href="#stats"><span data-hover="SIZE">公司规模</span></a></li>
                    <li><a href="#features"><span data-hover="FRIENDS">合作伙伴</span></a></li>
                    <li><a href="#gallery"><span data-hover="GALLERY">发展愿景</span></a></li>
                    <li><a href="#team"><span data-hover="TEAM">企业风采</span></a></li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- //Navbar -->

    <!-- Banner -->
    <div class="banner">
        <img src="{% static 'images/banner01.jpg' %}" alt="Corporatus">
    </div>
    <!-- //Banner -->

</div>
<!-- //Header -->

<!-- About -->
<div class="about" id="about">
    <div class="container">

        <div class="col-md-6 col-sm-6 about-grid">
            <img src="{% static 'images/about01.jpg' %}" alt="Corporatus">
        </div>
        <div class="col-md-6 col-sm-6 about-grid">
            <h1>关于我们</h1>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海启銮建筑工程有限公司成立于2020年，拥有水利工程建设监理，建设工程施工，建筑劳务分包，
                建设工程设计，建设工程勘察等多项资质。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司立足上海，辐射全国，成立至今已经参与多项机电与建筑工程，如上海港汇恒隆广场机电安装，
                上海徐家汇中心地下车库机电工程，三亚海棠湾君悦假日酒店全日餐厅改造及维修工程等。</p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司秉承“守信、规范、创新”经营理念，以工匠精神铸造专业品牌、享誉行业内外。
            </p>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
<div class="details" id="details">
    <div class="container">

        <h2>成功案例</h2>
        <div class="details-grids">
            <div class="col-md-4 col-sm-4 details-grid dgrid-1">
                <div>
                    <img src="{% static 'images/徐家汇中心.jpg' %}" height="300px" width="300px" alt="徐家汇中心">
                </div>
                <div>
                    <h4 class="project_text">徐家汇中心停车场机电安装</h4>
                    <p>2020年9月 - 至今</p>
                    <h6><a href="https://www.xuhui.gov.cn/static/upload/202309/0919_145917_438.jpg">原图地址</a></h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 details-grid dgrid-2">
                <div>
                    <img src="{% static 'images/利园.jpg' %}" height="300px" width="300px" alt="上海Lee·Gradens">
                </div>
                <div>
                    <h4 class="project_text">上海Lee·Gardens机电改造工程</h4>
                    <p>2022年6月 - 至今</p>
                    <h6><a href="https://pics2.baidu.com/feed/dc54564e9258d1093dd7d3e8d96c0cb46c814d77.jpeg@f_auto?
                        token=9885ded939df904ea67efb91dfdac454">原图地址</a></h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 details-grid dgrid-3">
                <div>
                    <img src="{% static 'images/兴业太古汇.jpg' %}" height="300px" width="300px" alt="上海前滩太古里">
                </div>
                <div>
                    <h4 class="project_text">上海静安兴业太古汇贵宾休息室改造</h4>
                    <p>2023年6月 - 2023年12月</p>
                    <h6>
                        <a href="https://img1.baidu.com/it/u=2177928672,2981796667&fm=253&fmt=auto&app=138&f=JPEG?w=640&h=427">原图地址</a>
                    </h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 details-grid dgrid-4">
                <div>
                    <img src="{% static 'images/前滩太古里.jpg' %}" height="300px" width="300px" alt="前滩太古里">
                </div>
                <div>
                    <h4 class="project_text">上海前滩太古里贵宾休息室改造</h4>
                    <p>2023年2月 - 2023年6月</p>
                    <h6>
                        <a href="https://img1.baidu.com/it/u=3645671759,1699849810&fm=253&fmt=auto&app=120&f=JPEG?w=667&h=500">原图地址</a>
                    </h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 details-grid dgrid-5">
                <div>
                    <img src="{% static 'images/君悦酒店.jpg' %}" height="300px" width="300px" alt="三亚君悦酒店">
                </div>
                <div>
                    <h4 class="project_text">三亚海棠湾君悦酒店全日餐厅改造工程</h4>
                    <p>2023年5月 - 2023年12月</p>
                    <h6>
                        <a href="https://img1.baidu.com/it/u=302463358,88036557&fm=253&fmt=auto&app=138&f=JPEG?w=687&h=500">原图地址</a>
                    </h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 details-grid dgrid-6">
                <div>
                    <img src="{% static 'images/港汇.jpg' %}" height="300px" width="300px" alt="上海港汇恒隆广场">
                </div>
                <div>
                    <h4 class="project_text">上海港汇恒隆广场机电安装工程</h4>
                    <p>2020年9月 - 2022年2月</p>
                    <h6>
                        <a href="https://img0.baidu.com/it/u=539134257,1677784161&fm=253&fmt=auto&app=120&f=JPEG?w=608&h=395">原图地址</a>
                    </h6>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>

<!-- Stats -->
<div class="stats" id="stats">
    <div class="container">

        <h3>公司规模</h3>

        <div class="stats-info">
            <div class="col-md-3 col-sm-3 stats-grid">
                <div class="stats-img">
                    <img src="{% static 'images/stats-1.png' %}" alt="在建项目">
                </div>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='3' data-delay='1'
                     data-increment="1">3
                </div>
                <p>在建项目</p>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid">
                <div class="stats-img">
                    <img src="{% static 'images/stats-2.png' %}" alt="员工数量">
                </div>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='80' data-delay='8'
                     data-increment="8">80
                </div>
                <p>UX/UI</p>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid">
                <div class="stats-img">
                    <img src="{% static 'images/stats-3.png' %}" alt="累计工程">
                </div>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='20' data-delay='2'
                     data-increment="1">20
                </div>
                <p>累计工程</p>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid">
                <div class="stats-img">
                    <img src="{% static 'images/stats-4.png' %}" alt="工程师数量">
                </div>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='15' data-delay='3'
                     data-increment="1">15
                </div>
                <p>工程师数量</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<!-- //Stats -->

<!-- Features -->
<div class="features" id="features">
    <div class="container">

        <h3>合作伙伴</h3>
        <p></p>

        <div class="feature-grid">
            <div class="col-md-4 col-sm-4 details-grid dgrid-1 friend_div">
                <div>
                    <img src="{% static 'images/安乐机电.jpg' %}" width="300" height="100" alt="安乐机电">
                </div>
                <div>
                    <h4 class="project_text01">香港安乐工程有限公司</h4>
                    <p class="project_text03">合作项目:徐家汇中心、Lee·Gardens</p>
                    <h5 class="project_text02"><a href="https://www.atal.com/">官方网站</a></h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 details-grid dgrid-2 friend_div">
                <div>
                    <img src="{% static 'images/恒隆地产.jpg' %}" width="300" height="100" alt="安乐机电">
                </div>
                <div>
                    <h4 class="project_text01">香港恒隆地产有限公司</h4>
                    <p class="project_text03">合作项目:恒隆广场、港汇恒隆广场</p>
                    <h5 class="project_text02"><a href="https://www.hanglung.com/en-us/home">官方网站</a></h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 details-grid dgrid-3 friend_div">
                <div>
                    <img src="{% static 'images/上海建工装饰集团.jpg' %}" width="300" height="100" alt="安乐机电">
                </div>
                <div>
                    <h4 class="project_text01">上海建工装饰集团</h4>
                    <p class="project_text03">合作项目：Lee Gardens 一期和二期</p>
                    <h5 class="project_text02"><a href="https://scdec.scg.com.cn/portal/index/index.htm">官方网站</a></h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 details-grid dgrid-4 friend_div">
                <div>
                    <img src="{% static 'images/深圳特艺达.jpg' %}" width="300" height="100" alt="安乐机电">
                </div>
                <div>
                    <h4 class="project_text01">深圳特艺达</h4>
                    <p class="project_text03">合作项目:港汇恒隆广场、太古里、太古汇</p>
                    <h5 class="project_text02"><a href="https://www.terart.com.cn/index.html">官方网站</a></h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 details-grid dgrid-5 friend_div">
                <div>
                    <img src="{% static 'images/江苏启安.jpg' %}" width="300" height="100" alt="江苏启安">
                </div>
                <div>
                    <h4 class="project_text01">江苏启安建设集团</h4>
                    <p class="project_text03">合作项目:青岛香格里拉大酒店改造</p>
                    <h5 class="project_text02"><a href="https://www.qaqa.com.cn/">官方网站</a></h5>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 details-grid dgrid-6 friend_div">
                <div>
                    <img src="{% static 'images/华鼎.jpg' %}" width="300" height="100" alt="安乐机电">
                </div>
                <div>
                    <h4 class="project_text01">上海华鼎建筑装饰工程有限公司</h4>
                    <p class="project_text03">合作项目:上海恒隆广场机电改造</p>
                    <h5 class="project_text02"><a href="https://hdzs.cscec.com/">官方网站</a></h5>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<!-- //Features -->

<!-- Gallery -->
<div class="gallery" id="gallery">
    <div class="container">

        <h3>发展愿景</h3>

        <div class="gallery-grids">
            <div class="col-md-3 col-sm-3 gallery-left left-1">
                <div class="g-1">
                    <a class="example-image-link" href="{% static 'images/g1-big.jpg' %}" data-lightbox="example-set"
                       data-title="">
                        <div class="grid">
                            <figure class="effect-apollo">
                                <img src="{% static 'images/g1.jpg' %}" alt="Corporatus"/>
                                <figcaption></figcaption>
                            </figure>
                        </div>
                    </a>
                </div>

                <div class="g-2">
                    <a class="example-image-link" href="{% static 'images/g2-big.jpg' %}" data-lightbox="example-set"
                       data-title="">
                        <div class="grid">
                            <figure class="effect-apollo">
                                <img src="{% static 'images/g2.jpg' %}" alt="Corporatus"/>
                                <figcaption></figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-6 col-sm-6 gallery-left left-2">
                <a class="example-image-link" href="{% static 'images/g3-big.jpg' %}" data-lightbox="example-set"
                   data-title="">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="{% static 'images/g3.jpg' %}" alt="Corporatus"/>
                            <figcaption></figcaption>
                        </figure>
                    </div>
                </a>

                <div class="g-5">
                    <div class="col-md-6 col-sm-6 g-3">
                        <a class="example-image-link" href="{% static 'images/g4-big.jpg' %}"
                           data-lightbox="example-set" data-title="">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <img src="{% static 'images/g4.jpg' %}" alt="Corporatus"/>
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-6 col-sm-6 g-4">
                        <a class="example-image-link" href="{% static 'images/g5-big.jpg' %}"
                           data-lightbox="example-set" data-title="">
                            <div class="grid">
                                <figure class="effect-apollo">
                                    <img src="{% static 'images/g5.jpg' %}" alt="Corporatus"/>
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <a class="example-image-link" href="{% static 'images/g6-big.jpg' %}" data-lightbox="example-set"
                   data-title="">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="{% static 'images/g6.jpg' %}" alt="Corporatus"/>
                            <figcaption></figcaption>
                        </figure>
                    </div>
                </a>
                <div class="clearfix"></div>
            </div>

            <div class="col-md-3 col-sm-3 gallery-left left-3">
                <a class="example-image-link" href="{% static 'images/g7-big.jpg' %}" data-lightbox="example-set"
                   data-title="">
                    <div class="grid">
                        <figure class="effect-apollo">
                            <img src="{% static 'images/g7.jpg' %}" alt="Corporatus"/>
                            <figcaption></figcaption>
                        </figure>
                    </div>
                </a>
                <div class="g-6">
                    <a class="example-image-link" href="{% static 'images/g8-big.jpg' %}" data-lightbox="example-set"
                       data-title="">
                        <div class="grid">
                            <figure class="effect-apollo">
                                <img src="{% static 'images/g8.jpg' %}" alt="Corporatus"/>
                                <figcaption></figcaption>
                            </figure>
                        </div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<!-- //Gallery -->

<!-- Team -->
<div class="team" id="team">
    <div class="container">

        <h3>企业风采</h3>

        <div class="grid">

            <figure class="effect-kira">
                <img src="{% static 'images/企业风采01.jpg' %}" width="350px" height="350px" alt="Corporatus"/>
            </figure>

            <figure class="effect-kira">
                <img src="{% static 'images/企业风采02.jpg' %}" width="350px" height="350px" alt="Corporatus"/>
            </figure>

            <figure class="effect-kira">
                <img src="{% static 'images/企业风才03.jpg' %}" width="350px" height="350px" alt="Corporatus"/>
            </figure>

            <figure class="effect-kira">
                <img src="{% static 'images/企业风采04.jpg' %}" width="350px" height="350px" alt="Corporatus"/>
            </figure>
            <div class="clearfix"></div>

        </div>

    </div>
</div>
<!-- //Team -->

<!-- Footer -->
<div class="footer">
    <div class="container">

        <div class="footer-info">
            <div class="col-md-4 col-sm-4 footer-info-grid links">
                <h4>快速连接</h4>
                <ul>
                    <li><a class="scroll" href="#about">关于我们</a></li>
                    <li><a class="scroll" href="#details">成功案例</a></li>
                    <li><a class="scroll" href="#stats">公司规模</a></li>
                    <li><a class="scroll" href="#features">合作伙伴</a></li>
                    <li><a class="scroll" href="#">返回首页</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 footer-info-grid address">
                <h4>地址</h4>
                <address>
                    <ul>
                        <li>上海市徐汇区</li>
                        <li>徐家汇街道</li>
                        <li>乐山路10弄14号104室</li>
                        <li>电话: 13866667278</li>
                        <li>Email: 13866667278@163.com</li>
                    </ul>
                </address>
            </div>
            <div class="col-md-4 col-sm-4 footer-info-grid newsletter">
                <h4>注意事项</h4>
                <p>本公司不会以任何方式索要联系方式和钱财，谨防电信诈骗</p>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<!-- //Footer -->

<!-- Custom-JavaScript-File-Links -->

<!-- Supportive-JavaScript -->
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<!-- Necessary-JS-File-For-Bootstrap -->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Skills-Number-Scroller-Effect-JavaScript -->
<script type="text/javascript" src="{% static 'js/numscroller-1.0.js' %}"></script>
<!-- //Skills-Number-Scroller-Effect-JavaScript -->

<!-- Popup-Box-JavaScript -->
<script src="{% static 'js/modernizr.custom.97074.js' %}"></script>
<script src="{% static 'js/jquery.chocolat.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $('.gallery-grids a').Chocolat();
    });
</script>
<!-- //Popup-Box-JavaScript -->

<!-- Slide-To-Top JavaScript (No-Need-To-Change) -->
<script type="text/javascript">
    $(document).ready(function () {
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 100,
            easingType: 'linear'
        };
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
<!-- //Slide-To-Top JavaScript -->

<!-- Smooth-Scrolling-JavaScript -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll, .navbar li a, .footer li a").click(function (event) {
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });
</script>
<!-- //Smooth-Scrolling-JavaScript -->

<!-- FlexSlider-JavaScript -->
<script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
<script type="text/javascript">
    $(function () {
        SyntaxHighlighter.all();
    });
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!-- //FlexSlider-JavaScript -->

<!-- //Custom-JavaScript-File-Links -->

</body>
</html>
